
.Main {
background-color: #F4F4F4;
}

.hs-form textarea, .hs-form input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
  font-size:14px;
}
.hs-form input[name="lastname"] {
  width: 90%;
}
.hs-form select {
  width: 200px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  height: 3em;
  -webkit-border-radius: 2px;
}

.hs-form textarea:focus, .hs-form input:focus,.hs-form select:focus { background:#fff; }

.hs-form fieldset.form-columns-0,.hs-form fieldset.form-columns-1,.hs-form fieldset.form-columns-2 {
  max-width:none;
}

.hs-form-field {
  margin-bottom:1.25em;
}

.hs-form legend {
  font-size:12px;
  color:#33475b;
  line-height:1.5;
}

.hs-form a {
  color: #582f54;
  text-decoration: underline;
}
.hs-form a:active, .hs-form a:focus, .hs-form a:hover {
  color: #7f4279;
  text-decoration-style: double;
}

.hs-form ul {
  padding-left:0;
  margin:0;
}
.hs-form-checkbox {
  list-style-type: none;
}
.hs-form-checkbox input {
  margin: 0 5px 0 0;
}

.hs-button.primary.large {
  display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Work Sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: #582f54;
    border-color: #582f54;

}
li {
  list-style: none;
}
input[type=checkbox] {
  margin-top: 8px;
  width: auto;
}
.input[data-reactid=".hbspt-forms-0.1:$2.1:$operating_budget.$operating_budget"]:before {
  content: "$ ";
}
input[name="TICKET.content"] {
  display: none;
}
blockquote {
  margin: 0 auto;
}
label[for="TICKET.content-ef20a3c6-fee4-48fa-8522-ce30f3ccde07"], textarea[name="TICKET.content"] { display: none; }
#calculate_button {
  margin-bottom: 2em;
}
.getintouch {
  display: none;
}
.hs-error-msgs {
  font-size: smaller;
  color: #b50303;
  margin-top: 0;
  margin-bottom: 0;
}
input.error {
  border-color: #b50303;
}
.hs_TICKET\.subject.hs-TICKET\.subject.hs-fieldtype-text.field.hs-form-field,
.hs_TICKET\.content,
.hs_TICKET\.hs_pipeline_stage, 
.hs_TICKET\.hs_pipeline {
  display:none;!important;
}

.legal-consent-container em {
  font-size: smaller;
}

/* Results toggle */
#block-yui_3_17_2_1_1584039310609_5368,
#block-yui_3_17_2_1_1584039749962_6144 {
  display: none;
}

#block-yui_3_17_2_1_1584039310609_5368.sqs-block-editable,
#block-yui_3_17_2_1_1584039749962_6144.sqs-block-editable,
.show-results #block-yui_3_17_2_1_1584039310609_5368,
.show-results #block-yui_3_17_2_1_1584039749962_6144 {
  display: block;
}
